.box{
    max-width: 500px !important;
    margin: 0 auto;
    border: 1px solid rgba(0,0,0,.3);
    text-align: center;
    border-radius: 5px;
    padding: 15px;

    h3 {
        text-transform: uppercase;
        letter-spacing: 1px;
        word-spacing: 1px;
        margin: 10px auto 50px;
    }

    p {
        margin: 40px auto 20px;
    }

    .form-group {
        margin-bottom: 15px;

        label {
            display: block;
            width: 100%;
            margin-bottom: 10px;
        }

        input {
            display: block;
            width: calc(100% - 50px);
            border: 1px solid rgba(0,0,0,.3);
            line-height: 40px;
            margin: 0 auto 30px;
            text-align: center;
            background: white;
        }

        input[type="button"] {
            cursor: pointer;
            margin-top: 50px;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 1px;
            word-spacing: 1px;
            background: $body-bg-invert;
            color: $text-invert;

            &:hover {
                color: $highlight;
            }
        }
    }

    &#login-container, &#register-container {
        display: none;
    }
    
    #login-toggle, #register-toggle {
        font-weight: 700;
        margin-left: 5px;
        cursor: pointer;
    }
}