.dashboard-element {
    width: 100%;
    margin: 10px auto 0 !important;
    
    .dashboard-container {
        border-radius: 10px;
        background: $body-bg-invert;
        padding: 25px;
        margin-bottom: 10px;
        color: $text-invert;
        border-top: 20px solid $highlight;
        cursor: default;

        @media only screen and (max-width: 1145px) {
            max-width: 400px;
            flex: 0 0 400px;
        }

        @media only screen and (max-width: 767px) {
            background: none;
            border: none;
            color: $text;
        }
    
        .dashboard {
            width: 150px;
            height: 150px;
            background-size: cover !important;
            background-repeat: no-repeat !important;
            background-position: 50% 0% !important;
            border-radius: 50%;
            border: 3px solid $highlight;
            margin: 15px auto 20px;

            @media only screen and (max-width: 767px) {
                border: 3px solid $body-bg;
            }
        }
    
        h1 {
            font-size: 20px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin: 0 0 5px;

            @media only screen and (max-width: 767px) {
                font-weight: 700;
            }
        }
    
        p {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 700;
            margin: 0;
            color: $highlight;
            letter-spacing: .5px;
            margin: 0 0 5px;

            @media only screen and (max-width: 767px) {
                color: $text;
            }
    
            sup {
                top: -3px;
                font-size: 8px;
                margin-left: 1px;
            }
        }

        .contact-details {
            padding: 20px 0 0 0;
            margin-top: 30px;
            border-top: 1px solid rgba(255,255,255,.2);

            @media only screen and (max-width: 767px) {
                display: none;
            }

            .detail {
                width: 100%;
                margin: 0 auto;
                text-align: left;
                line-height: 50px;
                margin-bottom: 5px;

                &:last-of-type {
                    margin-bottom: 0;
                }

                .icon {
                    width: 50px;
                    height: 50px;
                    background-size: cover !important;
                    background-repeat: no-repeat !important;
                    background-position: 50% 50% !important;
                }

                .link {
                    a {
                        letter-spacing: .5px;
                        font-size: 15px;
                        font-weight: 300;
                        color: $text-invert;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}