// Style
.navbar-auth {
    position: absolute;
    right: 0;
    top: 0;
    height: 65px;
    line-height: 65px;
    padding: 0 15px;
    z-index: 2;

    @media only screen and (max-width: 767px) {
        position: fixed;
        width: 100%;
        padding: 0;
        background: $body-bg-invert;
        top: 66px;
        height: 30px;
        line-height: 29px;
        border-top: 1px solid rgba(255,255,255,.2);
    }

    .auth-menu {
        display: flex;
        list-style: none;
        white-space: nowrap;

        @media only screen and (max-width: 767px) {
            padding: 0;
            margin: 0;
        }

        li {
            color: $text-invert;
            padding: 0 15px;

            @media only screen and (max-width: 767px) {
                width: 100%;
                width: 100%;
                font-size: 11px;
                letter-spacing: 0.5px;
                word-spacing: 0.5px;
                text-align: left;
                padding: 0 18px;
            }

            &.selected a {
                color: $highlight;
            }
        }
    }

    .dropdown {
        color: $text-invert;
        line-height: 66px;
        padding-right: 0;
        transition: .3s color;

        @media only screen and (max-width: 767px) {
            line-height: 30px;
        }

        &:hover {
            color: $highlight;
        }
    
        .dropdown-menu {
            border-radius: 3px;
            background: $body-bg-invert;
            margin: -5px -15px 0 0 !important;

            @media only screen and (max-width: 767px) {

            }
    
            .dropdown-item {
                line-height: 20px;
                color: $text-invert;
                transition: .3s color;

                &:hover {
                    background: none !important;
                    color: $highlight;
                }
            }
        }
    }
}

.navbar {
    position: fixed !important;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: $body-bg-invert;
    color: $text-invert;
    z-index: 2;

    a {
        color: $text-invert;
        text-decoration: none;
    }

    .navbar-inner {
        width: 100%;
        display: flex;
    }

    #logo {
        height: 50px;
        line-height: 50px;
        font-size: 20px;
        padding: 0;
        margin: 0;
        filter: grayscale(1) brightness(5);
        transform: scale(.8);
    }

    #logo-subtitle {
        position: absolute;
        bottom: 10px;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: .5px;
        text-transform: uppercase;
        color: $highlight;
    }

    .nav {
        position: absolute;
        display: flex;
        text-align: right;
        right: 0;
        height: 50px;
        line-height: 50px;

        li {
            padding: 0 20px;

            @media only screen and (max-width: 767px) {
                padding: 0 15px 0 5px;
            }

            &.active {
                a {
                    color: $highlight;
                }
            }
        }
    }
}