// Body
$body-bg: #f8fafc;
$body-bg-invert: #1f2227;

$text: #1f2227;
$text-invert: #f8fafc;

$highlight: #ffb041;
$highlightAlt: #dc3545;

$green: #198754;
$yellow: #ffb041;
$red: #dc3545;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
