// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Style
@import 'authentication';
@import 'navbar';
@import 'footer';
@import 'dashboard';
@import 'quotation';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

html {
    width: 100%;
    overflow: hidden;
}

body {
    height: 100vh;
    padding: 100px 0 50px;
    overflow: hidden;

    @media only screen and (max-width: 767px) {
        overflow-y: scroll;
    }
}

main {
    text-align: center;
}

.btn {
    border: none;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 20px;
    margin: 15px 10px 0 0;

    &.btn-primary, &.btn-secondary {
        background: $body-bg-invert;
        color: $text-invert;

        &:active {
            background: $body-bg-invert;
            color: $text-invert;
        }
    }

    &:hover {
        background: $highlight;
        color: $text;
    }
}

.card {
    background: white;
    overflow: hidden;
    border-radius: 3px;
}

@media only screen and (min-width: 768px) {
    .pl-md-0 {
        padding-left: 0;
    }
    
    .pr-md-0 {
        padding-right: 0;
    }
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-track {
    background: rgba(0,0,0,.2);
}

::-webkit-scrollbar-thumb {
    background: $body-bg-invert;
}

::-webkit-scrollbar-thumb:hover {
    background: $body-bg-invert;
}

#app {
    margin-top: 0;

    @media only screen and (max-width: 767px) {
        padding-top: 30px;
        
        .container {
            margin-bottom: 100px;
        }
    }

    form {
        width: 100%;
        
        @media only screen and (max-width: 767px) {
            margin-bottom: 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid rgba(0,0,0,.2);
        }

        @media only screen and (min-width: 768px) {
            height: 100%;
        }

        .form-group {
            margin: 10px 0 15px;

            &:first-of-type {
                margin-top: 0;
            }

            label {
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 2px;
            }
        }
    }
}

.toast {
    box-shadow: none !important;
    opacity: .8 !important;
    transition: .3s opacity;
    border-radius: 5px !important;

    &:last-of-type {
        margin-bottom: 30px !important;
    }

    &:hover {
        opacity: 1 !important;
    }

    &.toast-success {
        background: $green;
    }

    &.toast-warning {
        background: $yellow;
    }

    &.toast-error {
        background: $red;
    }

    &.toast-info {
        background: $body-bg-invert;
    }
}