<template>
    <div class="container">
        <div class="row mb-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <p class="mb-0">You are logged in as <b>{{this.$data.user.email}}</b></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center dashboard-element">
            <div class="col-12 col-md-4 dashboard-container">
                <div class="dashboard" style="background:url('./media/profile.jpg')"></div>
                <h1>Maurice Sultana</h1>
                <p>22<sup>nd</sup> January 1994</p>
                <div class="row contact-details">
                    <div class="col-12">
                        <div class="row detail">
                            <div class="icon col-2" style="background: url('./media/icons/mail.svg')"></div>
                            <div class="link col-10">
                                <a href="mailto:mauricesultana22@gmail.com" target="_blank">mauricesultana22@gmail.com</a>
                            </div>
                        </div>
                        <div class="row detail">
                            <div class="icon col-2" style="background: url('./media/icons/phone.svg')"></div>
                            <div class="link col-10">
                                <a href="tel:+35679220194" target="_blank">(+356) 79220194</a>
                            </div>
                        </div>
                        <div class="row detail">
                            <div class="icon col-2" style="background: url('./media/icons/linkedin.svg')"></div>
                            <div class="link col-10">
                                <a href="https://linkedin.com/in/mauricesultana" target="_blank">linkedin.com/in/mauricesultana</a>
                            </div>
                        </div>
                        <div class="row detail">
                            <div class="icon col-2" style="background: url('./media/icons/location.svg')"></div>
                            <div class="link col-10">
                                <a href="https://www.google.com/maps/place/Gozo/@36.0469086,14.218782,13z/data=!3m1!4b1!4m6!3m5!1s0x130fb4e6eeeaa5b9:0xbfa42f0fe1b720ae!8m2!3d36.0442999!4d14.2512221!16zL20vMDFkNDY2?entry=ttu" target="_blank">Gozo, Malta</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a class="btn btn-primary link" href="https://drive.google.com/file/d/1R-YlZ7O2dz4VtfD3L99yKaDc95l24jk-/view?usp=drive_link" target="_blank">View My Resume</a>
        <a class="btn btn-primary link" href="/dashboard/quotation-app">Go To Quotation App</a>
    </div>
</template>

<script>
export default {
    name:"dashboard",
    data(){
        return {
            user: JSON.parse(localStorage.user)
        }
    }
}
</script>