<template>
    <li class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{this.$data.user.name}}</a>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink"><a class="dropdown-item" href="javascript:void(0)" id="logout-button">Logout</a></div>
    </li>
</template>

<script>
export default {
    data(){
        return {
            user: JSON.parse(localStorage.user)
        }
    }
}
</script>